*{
 margin: auto;
}
body{
  display: flex;
  flex-direction: column;

}
nav {
  margin: 0;
}
header{
  margin-top: 25px;
  margin-bottom: 50px;
}
main {
  max-width: 823px;
  display: flex;
  flex-direction: column;
}
section{
  margin: 15px 0px;
}
h1, h2{
  margin: 15px;
}
p {
  font-size: 20px;
}
.album-packs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
