body {
  margin: auto;
  max-width: 960px;
  /* font-family: 'Mulish', sans-serif; */
  font-family: 'Source Serif Pro', serif;
  font-size: 22px;

  line-height: 32px;
  color: black;
  background-color: #080208;
  /*background-image: */
  background-repeat: no-repeat;
  background-position: top center;
}
body:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("img/hero-bg.jpg");
  transform:rotateY(180deg);
  background-size: cover;
}
.container {
  max-width: 928px;

}
.page-header {
  margin: 0 0 80px;
  padding: 32px 0;
}
.page-header .container,
.page-footer .container {
  /* Перестанет работать - раскомментировать*/
   /* max-width: 1408px; */;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*text-align ; */
}
.page-header a {

  color: #fea18d;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}
.hero-image {
  margin-bottom: 400px;
}
.hero-image .container {
  max-width: 1408px;
  text-align: center;
}
.hero-image p {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
}
.heading {
  margin: 0 0 24px;
  font-size: 80px;
  line-height: 96px;
}
.intro {
  margin: 0 0 120px;
}
.subheading {
  margin: 0 0 56px;
  font-size: 56px;
  line-height: 80px;
  text-align: center;
}

.intro h3{
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}
.intro p {
  margin: 0 0 32px;
}
.button {
  margin-top: 160px;
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #712073;
  color: #ffffff;
  border-radius: 30px;
  font-weight: 600;
}
.page-footer {
  padding: 40px 0;
}
.page-footer a {
  margin-left: 56px;
  color: #fea18d;
  text-decoration: none;
}
