* {  font-family: 'Source Serif Pro', serif; }
body {
  max-width: 1060px;
  margin: auto;
  font-size: 20px;
  line-height: 1.5;
  color: black;
  background-color: #f3f4f6;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background: url("img/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

header{
 margin: 10px 0;
}
nav{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
a{
  margin: auto;
}
main{
  margin: 20px auto;
}
.container{
  padding: 30px;
  border-radius: 20px;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1{
  font-size: 36px;
}
a{
  color: rgb(255,118,185);
  text-decoration: none;
}
aside{
  float: left;
  padding: 0 20px;
}
.music{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
iframe, img{
  margin: auto;
}
