*{
 margin: auto;
}

body{
  display: flex;
  flex-direction: column;

}

header{
  width: 100%;
  margin-top: 25px;
  margin-bottom: 35px;
  border-bottom: 15px solid red;
  display: flex;
  flex-direction: column;

}

nav {
    margin: 20px auto;
}

nav a{
  margin: 0px 70px;
}

main {
  max-width: 65%;
  display: flex;
  flex-direction: column;
  border-left: 5px solid red;
  border-right: 5px solid red;
}

p{
  margin: auto 35px;
}
section{
  margin: 15px 0px;
}

h1, h2{
  margin: 35px;
}

p {
  font-size: 20px;
}

.album-packs{
  display: flex;
  flex-direction: column;
}

.pack {
  margin: 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
